<img src="assets/img/excel-logo.svg" style="position: absolute; opacity: 0.0">
<div class="main-container">
    <div  id="areaFileDropZone" (drop)="loadTotalFile($event);"
         (dragover)="dragOverHandler($event)">
        <div>Trascina qui il file da analizzare...</div>
    </div>
    <button class="input-button" (click)="openFileInput()">
        Carica il File dei Totali
    </button>
    <button class="input-button" *ngIf="getLoadedTotalFile()" (click)="joinData()">
        Inizia l'analisi
    </button>
    <input type="file" id="fileInput" multiple style="position: absolute; opacity: 0.0"
           (change)="loadTotalFile($event)">
    <div class="loaded-files-container" *ngIf="getLoadedTotalFile()">
        <div class="loaded-files-title">
            FILE DEI TOTALI
        </div>
        <div class="loaded-file"
             [ngClass]="{'is-loading': getLoadedTotalFile().isLoading}">
            <div class="logo-container">
                <img src="assets/img/excel-logo.svg">
            </div>
            <div class="file-name">
                {{getLoadedTotalFile().name}}
            </div>
            <button class="delete-button" (click)="deleteTotalFile()">
                    Elimina
            </button>
        </div>
    </div>
    <div class="loaded-files-container" *ngIf="getLoadedAreaFiles().length">
        <div class="loaded-files-title">
            FILE CARICATI PRONTI PER L'ANALISI
        </div>
        <div class="loaded-file" *ngFor="let areaFile of getLoadedAreaFiles()"
             [ngClass]="{'is-loading': areaFile.isLoading}">
            <div class="logo-container">
                <img src="assets/img/excel-logo.svg">
            </div>
            <div class="file-name">
               {{areaFile.name}}
            </div>
            <button class="delete-button" (click)="deleteAreaFile(areaFile.name)">
                Elimina
            </button>
        </div>
        <button class="delete-button" (click)="deleteAllAreaFiles()">
            Elimina tutti
        </button>
    </div>
</div>

